*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: white;
}
p{
    color:rgb(25, 14, 56);
}
main{
    display: flex;
    position: relative;
    max-width: 455px;
    width: 100%;
    max-height: 850px;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #ffffff;
}
.cards{
    display: flex;
    position: absolute;
    top: 5%;
    left: 6%;
    max-width: 400px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    z-index: 1;
}
.topcard{
    position: absolute;
    top: 40%;
    max-height: 185px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    background-image:url(./images/bg-card-front.png) ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    z-index: 1;
}
.topcardcontent{
    position: relative;
    display: flex;
    align-items: center;
    left: 25px;
    top: 50px;
}
.circle1{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
.circle2{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px white solid;
    left: 45px;
}
.digits{
    position: absolute;
    top: 40px;
    font-size: 11px;
}
.name{
    position: absolute;
    top: 80px;
}
.expdate{
    position: absolute;
    left: 200px;
}
.bottomcard{
    position: absolute;
    right: 0;
    max-height: 185px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    background-image:url(./images/bg-card-back.png) ;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
.bottomcardtext{
    display: flex;
    justify-content: center;
    margin-top: 27%;
    margin-left: 60%;
    color: white;
}
.leftside{
    position: absolute;
    width: 455px;
    height: 240px;
    background-image: url(./images/bg-main-mobile.png);
    border-radius: 25px;
    background-size: cover;
}
.rightside{
    display: flex;
    margin-left: 18%;
    margin-top: 60%;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.rightsidecontent{
    display: flex;
    align-items: center;
    width: 450px;
    height: 600px;
}
input{
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    height: 55px;
    border-radius: 10px;
    font-size: 19px;
}
.bar3{
    display: flex;
    gap: 15px;
}
.bar3text{
    display: flex;
    gap: 70px;
}
.mmyy{
    width: 80px ;
    height: 55px;
}
.cvc{
    width: 100px ;
    height: 55px;
    margin-left: 10px;
}
button{
    background-color: #33115f; color: white;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    height: 55px;
    border-radius: 10px;
    font-size: 19px;    
}
button:hover{
    background-color: transparent;
    color: black;
    border: 1px black solid;
    transition: all 0.2s ease-in-out;
}