*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: white;
    font-size: 1vw;  
}
p{
    color:rgb(25, 14, 56);
    font-size: 1vw;  
}
body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #ffffff;
}
main{
    display: flex;
    position: relative;
    width: 70vw;
    height: 45vw;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
.cards{
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 27vw;
    height: 27vw;
    z-index: 4;
}
.topcard{
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    background-image:url(./images/bg-card-front.png) ;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
.topcardcontent{
    padding: 5%;
    left: 5%;
    top: 20%;
}
.circle1{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 50%;
}
.circle2{
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 1px white solid;
    left: 20%;
    top: 14%;
}
.digits{
    position: absolute;
    top: 50%;
}
.name{
    position: absolute;
    top: 65%;
}
.expdate{
    position: absolute;
    left: 250%;
}
.bottomcard{
    position: absolute;
    right: 0;
    align-self: flex-end;
    width: 23vw;
    height: 12.5vw;
    background-image:url(./images/bg-card-back.png) ;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
.bottomcardtext{
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-left: 65%;
    color: white;
}
.leftside{
    display: flex;
    width: 20vw;
    background-image: url(./images/bg-main-desktop.png);
    border-radius: 20px;
    z-index: 3;
}
.rightside{
    position: relative;
    display: flex;
    height: 45vw;
    width: 45vw;
    top: 10vw;
    left: 20vw;
    z-index: 2;
}
input{
    margin-top: 2%;
    padding: 2%;
    width: 50%;
    height: 3vw;
    border-radius: 10px;
    font-size: 1vw;
}
.bar3{
    display: flex;
    gap: 15px;
}
.bar3text{
    display: flex;
    gap: 70px;
}
.mmyy{
    width: 10% ;
}
.cvc{
    width: 25% ;
    margin-left: 10px;
}
button{
    background-color: #33115f; color: white;
    width: 50%;
    border-radius: 10px;
    font-size: 1vw;   
    height: 3vw; 
}