* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fefdf9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20% 0 20%;
}

.nav-bar {
  display: flex;
  gap: 10%;
}

.menu {
  display: none;
  
}

.menu-buttons {
  display: flex;
  gap: 10%;
}

.menu-buttons > * {
  color: rgb(31, 31, 31);
}

.buttoninmenu:hover {
  color: #f15d51;
  transition: all 0.2s ease-in;
}


@media screen and (max-width: 600px) {
  .menu {
    display: block; 
  }

  .menu-buttons {
    display: none;
  }

  .nav-bar{
    position: relative;
  }
  .menu{
    z-index: 2;
  }
  .menu-buttons{
    flex-direction: column;
    position: absolute;
    gap: 5%;
    font-size: 25px;
    top: 0;
    right:0;
    z-index: 1;   
    width: 280px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
  }
  .menu:hover ~ .menu-buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5%;
    font-size: 25px;
    top: 0;
    right:0;
    z-index: 1;   
    width: 280px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.30);
  }
}
